* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  --primary: #26272c;
  --secondary: #009946;
  --third: #1e1f24;
}
.logo {
  margin: 0 auto;
  padding: 0.5em;
}
nav ul {
  display: flex;
}

nav ul li {
  justify-content: space-between;
  padding: 0.5em;
}

header {
  background-image: url("../images/pizza.jpg");
}
.nuggets {
  width: 200px;
  height: 200px;
  border-radius: 10em;
}

.bacon {
  width: 200px;
  height: 200px;
  border-radius: 10em;
}

.chef-menu {
  width: 130px;
  height: 260px;
  background-color: #009946;
  border-radius: 5em;
}

.chef-menu img {
  border-radius: 50%;
}
